.Seller-section {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.Seller-section h2 {
  font-size: 4rem;
  text-align: center;
  font-family: bold;
}

.seller-list {
  width: 100%;
  height: 100%;
  padding: 6rem 0;
}

.seller-list .seller-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1rem 0px;
}

.seller-list .seller-items .item {
      width: 31rem;
      height: 8rem;
      background: linear-gradient(to right, #1a064bea, #093256);
      height: 5rem;
      border-radius: 20px;
      padding: 5rem 0;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      animation: marquee2 5s linear infinite;
}

.seller-list .seller-items .item2 {
  width: 31rem;
  height: 8rem;
  background: linear-gradient(to right, #1a064bea, #093256);
  height: 5rem;
  border-radius: 20px;
  padding: 5rem 0;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: marquee3 5s linear infinite;
  flex-shrink: 0;
}

.seller-list .seller-items .item .image-user {
      width: 53%;
    height: 8rem;
  padding: 0 1rem;
}
.seller-list .seller-items .item2 .image-user {
      width: 52%;
    height: 8rem;
  padding: 0 1rem;
}
.seller-list .seller-items .item img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.seller-list .seller-items .item2 img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.seller-list .seller-items .item .user-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.seller-list .seller-items .item2 .user-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.seller-list .seller-items .item .user-name .name {
  font-size: 2rem;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}
.seller-list .seller-items .item2 .user-name .name {
  font-size: 2rem;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.seller-list .seller-items .item .user-name .token {
  font-size: 1.9rem;
  font-family: "poppins", sans-serif;
}
.seller-list .seller-items .item2 .user-name .token {
  font-size: 1.9rem;
  font-family: "poppins", sans-serif;
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
}
}

@keyframes marquee3 {
  0% {
    transform: translateX(-100%);
}
  100% {
    transform: translateX(50%);
}
}

/* 
@media only screen and (max-width: 910px) {

    .seller-list .seller-items .item{
      width: auto;
    }


} */


@media only screen and (max-width: 910px) {
  .seller-list .seller-items .item {
    padding: 5rem 1rem;
    animation: marquee2 5s linear infinite both;
}
.seller-list .seller-items .item2 {
    padding: 5rem 1rem;
    animation: marquee3 5s linear infinite both;
}
  .seller-list .seller-items .item .image-user {
    width: 17rem;
  }
  .seller-list .seller-items .item .user-name .name {
    font-size: 1.8rem;
  }
  .seller-list .seller-items .item .user-name .token {
    font-size: 1.8rem;
    padding-top: 0.3rem;
  }

  .seller-list .seller-items .item2 .image-user {
    width: 17rem;
  }
  
}
