.community-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding-top: 5rem;
  position: relative;
}

.glowing5 {
  position: absolute;
  bottom: -65%;
  left: -6%;
  width: 60vw;
  height: 100vh;
  background: radial-gradient(circle at left, #4080ff, transparent 80%);
  filter: blur(100px);
  opacity: 0.7;
  z-index: 0;
}

.nft-box {
  background: linear-gradient(90deg, #351e7e, 70%, #105184);
  color: white;
  padding: 40px 60px;
  border-radius: 18rem 1.5rem 18rem 1.5rem;
  min-width: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.nft-box h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: bold;
}

.join-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #7c3aed, #38bdf8);
  transition: transform 0.2s ease;
}

.join-btn:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 910px) {
  .community-section {
    height: 45vh;
    /* padding: 0 2rem; */
  }
  .nft-box {
    border-radius: 10rem 1.5rem 10rem 1.5rem;
            min-width: 80rem;
  }
  .nft-box h2 {
    font-size: 2.7rem;
  }
}


@media only screen and (max-width: 600px) {
  .community-section {
    height: 45vh;
    /* padding: 0 2rem; */
  }
  .nft-box {
    border-radius: 10rem 1.5rem 10rem 1.5rem;
    max-width: 60rem;
        min-width: 22rem;
  }
  .nft-box h2 {
    font-size: 1.7rem;
  }
}
